@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$c1: #23074d;

@mixin glass-border {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin glass($trans, $blur) {
    background: rgba(255, 255, 255, $trans);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(#{$blur}px);
    -webkit-backdrop-filter: blur(#{$blur}px);
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    padding: 0.75rem 0;
}

html,
body,
div#app {
    height: 100%;
    color: #fff;
}

div#app {
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-input {
    position: relative;
}

.input-glass {
    @include glass(0.45, 4);
    @include glass-border();
    border-radius: 9999px;
    padding: 0.2rem 1rem;
    width: 100%;
    color: $c1;

    input {
        background: none;
        border: none;
        color: $c1;

        &:focus {
            outline: none;
        }
    }

    &:focus-within {
        background-color: rgba(255, 255, 255, 0.75);
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}

.list-group.city-list {
    position: absolute;
    width: 100%;
    z-index: 2;

    .list-group-item {
        @include glass(0.3, 5);
        @include glass-border();

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
        }

        &:focus,
        &:hover {
            @include glass(0.2, 5);
            cursor: pointer;
            outline: none;
        }
        box-shadow: none;
    }
}

.footer {
    font-size: 0.8rem;
    a {
        color: $c1;
    }
}
