@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$c1: #23074d;

body {
    font-family: 'Nunito', sans-serif;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    padding: 0.75rem 0;
}

html,
body,
div#app {
    height: 100%;
    color: #fff;
}

div#app {
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer {
    font-size: 0.8rem;
    a {
        color: $c1;
    }
}
